html, body{
	font-family: Helvetica;
	background-color: grey;
	color: white;
}

a{
	color: green;
}

#profile-pic{
	max-height: 650px;
	margin-top: -30px;
	margin-left: 5%;
	margin-right: 5%;
}

.section{
	margin: 100px;
}

#school{
	color: white;
}

