html, body{
	font-family: Helvetica;
	background-color: grey;
	color: white;
	background-image: url("http://i.imgur.com/W1uAwyR.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a{
	color: gold;
	margin-right: 20px;
}

#profile-pic{
	max-height: 800;
	margin-top: 20px;
	margin-left: 10%;
}

.section{
	margin-left: 95px;
}

#school{
	color: gold;
	margin-top: 55px;
}


::-webkit-scrollbar {
    display: none;
}