

body {
   font-family: arial, sans-serif;
   color: black;
   text-align: center;
}

#nav {
   width: 500px;
   height: 200px;
   margin: 0%;
   opacity: 0.6;
}   

#nav_wrapper {
   height: 300px;
   width: 700px;
   background: #42656b;
   margin: 0%;
   text-align: left;
   opacity: 20.0;
}   
p {
   color: white;
   font-size: 20px;
}   

html {
   background: url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/15027788_10206473869399536_2326562712514109124_n.jpg?oh=29f9d58b501dca5f0f7283cf2a06c31a&oe=58C3B991");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
